* { margin: 0; padding: 0; box-sizing: border-box; }
html { font-family: sans-serif; color: #666; }
h1 { margin: 30px 0; text-align: center; font-size: 1.5rem; }
h2 { margin-bottom: 30px;  text-align: center; font-size: 1.2rem; }


.container {
    margin: 0 auto;
    max-width: 800px;
    border: 1px solid #333;
    display: flex;
    /* Para esta propriedade funcionar precisa determinar uma largura para os itens ou definir "flex: 1;" */
    /* Valor padrão é "align-items: stretch;" */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    align-items: baseline;
    height: 500px;
}

.item {
    margin: 5px;
    background-color: rgb(247, 93, 66);
    font-size: 1.5rem;
    text-align: center;
    color: #FFF;
    flex: 1;
}

.item:first-child {
    padding-top: 150px;
}

/* .column {
    flex-direction: column;
} */