html {
    font-family: sans-serif;
    color: #666;
}

body {
    padding: 50px;
}

p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.box {
    background-color: aquamarine;
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 15px;
    text-align: center;
    line-height: 250px;
}