body,
ul, 
li, 
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: sans-serif;
    list-style: none;
    color: #333;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FFF;
}

h2 {
    text-align: center;
    margin: 50px 0 10px 0;
}

img {
    /* Máimo de 100% do container */
    max-width: 100%;
    /* display: block; */
    border-radius: 3px;
}


.header {
    background-color: #333;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo {
    flex: 0 0 180px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 5px;
}

.menu li a {
    display: block;
    padding: 10px;
    border-bottom: 3px solid #333;
}

.menu li a:hover {
    border-bottom: 3px solid #FF0000;
}

/* Container pai */
.galeria {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

/* Itens filhos */
.galeria > div {
    margin: 10px;
    /* flex-grow / flex-shrink / flex-basis */
    flex: 1 1 200px;
}


footer {
    background-color: #333;
    margin-top: 30px;
    padding: 30px 20px;
}

footer p {
    font-size: 1rem;
    color: #FFF;
}